<a href="https://colab.research.google.com/github/dileepyadavns/customer_segmentation/blob/main/customer_segmentation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv("/content/customer_segmentation.csv", encoding='latin-1')

In [ ]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [ ]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [ ]:
!git init

Initialized empty Git repository in /content/.git/

In [ ]:
!git remote add origin https://github.com/dileepyadavns/customer_segmentation.git

In [ ]:
!git commit -m "data preprocessing"

*** Please tell me who you are.

Run

  git config --global user.email "you@example.com"
  git config --global user.name "Your Name"

to set your account's default identity.
Omit --global to set the identity only in this repository.

fatal: unable to auto-detect email address (got 'root@ea7d4feb5c64.(none)')

In [ ]:
!git config --global user.email "dileepyadavneo@gmail.com"

In [ ]:
!git config --global user.name "dileepyadavns"

In [ ]:
!git commit -m "data preprocessing"

[master (root-commit) b51509f] data preprocessing
 19 files changed, 50860 insertions(+)
 create mode 100644 .config/.last_opt_in_prompt.yaml
 create mode 100644 .config/.last_survey_prompt.yaml
 create mode 100644 .config/.last_update_check.json
 create mode 100644 .config/active_config
 create mode 100644 .config/config_sentinel
 create mode 100644 .config/configurations/config_default
 create mode 100644 .config/gce
 create mode 100644 .config/logs/2022.10.28/13.35.23.262379.log
 create mode 100644 .config/logs/2022.10.28/13.35.53.106765.log
 create mode 100644 .config/logs/2022.10.28/13.36.19.156679.log
 create mode 100644 .config/logs/2022.10.28/13.36.34.707746.log
 create mode 100644 .config/logs/2022.10.28/13.37.00.362876.log
 create mode 100644 .config/logs/2022.10.28/13.37.01.262813.log
 create mode 100755 sample_data/README.md
 create mode 100755 sample_data/anscombe.json
 create mode 100644 sample_data/california_housing_test.csv
 create mode 100644 sample_data/california_housing_train.csv
 create mode 100644 sample_data/mnist_test.csv
 create mode 100644 sample_data/mnist_train_small.csv

In [ ]:
!git add -A

In [13]:
!git branch -M main

In [14]:
!git remote add origin https://github.com/dileepyadavns/customer_segmentation.git

fatal: remote origin already exists.

In [15]:
!git push -u origin main

fatal: could not read Username for 'https://github.com': No such device or address